<div class = "body-tint">
  <h1>Welcome to the Scrabble Word Scoring App.</h1>
  <br />
  <h2>"Score Many Words" to evaulate multiple words.
    <br />
    "Word Scorer" for individual words.</h2>
</div>
