<!DOCTYPE html>
  <html>
  <head>
    <meta charset-"UTF-8" />
    <title>Scrabble Word Scoring App</title>
    <link rel="stylesheet" type="css" href="stylesheets/stylesheet.css">
  </head>
  <body>
    <header>
      <nav>
        <div class = "floatleft">
          <a href="/">Home</a>
        </div>
        <div class = "floatleft">
          <a href="/score-many">Score Many Words</a>
        </div>
        <div class = "floatright">
          <a href="/score">Word Scorer</a>
        </div>
      </nav>

    </header>
    <main>
      <%= yield %>
    </main>
  </body>
  </html>
