<div class = "body-tint">
<h1><% if params["scores_earned"] != nil %>
  <% params["scores_earned"].each do |word, score| %>
    <%= word.downcase %> is worth <%= score %>
    <br />
  <%end%>
  <%end%>
</h1>
<h2>Enter words to be scored in the box below seperated by spaces</h2>
<form action="" method="post" accept-charset="utf-8">
 <label for="words_entered">Enter your words:</label>
 <input type="text" name="words_entered" value="" id="words_entered">

 <input type="submit" value="Submit Words">
</form>
</div>
