<div class = "body-tint">
<h1><% if params["words_entered"] != nil %>
  <% @score_hash.each do |word, score_arrays| %>
    <strong><%= word.downcase %></strong> is worth <%= score_arrays[2] %> points.
    <% score_arrays[0].each_index do |index| %>
     <%=score_arrays[0][index]%> = <%= score_arrays[1][index]%>,
      <%end%>
    <br />
  <%end%>
  <%end%>

</h1>
<h2>Enter words to be scored in the box below seperated by spaces</h2>
<form action="" method="post" accept-charset="utf-8">
 <label for="words_entered">Enter your words:</label>
 <input type="text" name="words_entered" value="" id="words_entered">

 <input type="submit" value="Submit Words">
</form>
</div>
